.root {
  display: flex;
  flex-flow: row wrap;
  // height: 80vh;
}

.scroll {
  position: absolute;
  bottom: 5em;
  left: 50%;
  transform: translateX(-50%);
  color: #3d3547;
  font-weight: 500;
}

.containerAbout {
  display: flex;
  flex-wrap: wrap;
  gap: 10%;
  margin-top: 5rem;
  flex-direction: column;
  width: 100%;
}

@media screen and (max-width: 600px) {
  .containerAbout {
    flex-direction: row;
    margin-top: 8rem;
  }
  
}

.ring {
  z-index: 2;
  float: right;
  right: 5%;
  flex: 30%;
  
}

.aboutText { 
  margin: 15%;
   font-size: 18px;
  }




.circle {
  width: 60%;
  height: 55%;
  z-index: 1;
  flex: 60%;


  .parallaxInner {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 3px solid #3d3547;
    border-radius: 50%;
    background: linear-gradient(0deg, #642b73, #272727);
  }
}

.circle:before,
.circle:after {
  content: "";
  position: absolute;
  left: -2px;
  top: -2px;
  background: linear-gradient(
    20deg,
    rgb(139, 111, 216, 0.8),
    rgb(168, 239, 255, 0.1),
    rgb(139, 111, 216, 0.8),
    rgb(168, 239, 255, 0.1),
    rgb(139, 111, 216, 0.8)
  );
  background-size: 400%;
  width: calc(100% + 14px);
  height: calc(100% + 14px);
  z-index: -1;
  border-radius: 50%;
  animation: steam 30s linear infinite;
}

@keyframes steam {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

.circle:after {
  filter: blur(20px);
}

.circleInner {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 3px solid #3d3547;
  border-radius: 50%;
}

.hemispheres {
  position: absolute;
  top: 25%;
  left: 25%;
  width: 50%;
}

canvas {
  border-radius: 50px;
}

@media screen and (max-width: 800px) {
  .root {
    height: 60vh;
  }

  .ring {
    margin-top: 7%;
  }

  .circle {
    height: 65%;
  }
  .circle .parallaxInner, .circleInner, .circle:before, .circle:after {
    border-radius: 10%;
  }

  .aboutText {
    margin: 10%;
  }
}
