:root {
  --gray: #808080;
  --gray-medium: #c1bfbf;
  --gray-light: #d3d3d3;
  --paper-color: #eff8fe;
}
.containerContact {
  background: #6e1870;
  padding-top: 30px;
  display: flex;
  flex-direction: column;
  font-family: Courier New, sans-serif;
}

@media screen and (min-width: 800px) {
  .containerContact {
    width: 90vw;
  }
}

.contactTitle {
  margin-left: 15%;
  color: #2f0631;
}
.paper {
  position: relative;
  padding: 10px;
  width: 12.2rem;
  left: 5%;
  min-height: 120px;
  background: linear-gradient(
    135deg,
    var(--paper-color),
    85%,
    var(--gray-light)
  );
  box-shadow: 1px 0 1px var(--gray);
}

/* Tacks */
.paper::before {
  content: "";
  position: absolute;
  left: 5px;
  top: 5px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #6e1870;
}

.paper::after {
  content: "";
  position: absolute;
  right: 5px;
  top: 5px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #6e1870;
}

.numbers {
  display: flex;
  min-height: 20rem;
  list-style: none;
  padding: 0;
  margin: 0;
  width: 16%;
  margin-left: 5%;
}

.number {
  position: relative;
  width: 65px;
  height: 18rem;
  background: linear-gradient(
    to right,
    var(--paper-color),
    80%,
    var(--gray-light)
  );
  border-top: 1px dashed var(--gray);
  box-shadow: 1px 1px 1px var(--gray);
  transform-origin: center top;
}

.link-wrapper {
  // position: absolute;
  display: flex;
  top: 0;
  transform: rotate(90deg);
  transform-origin: top left;
  font-size: 0.9rem;
  margin-left: 2.7rem;
  margin-top: 1rem;
  // align-items: center;
}

.link-wrapper i {
  margin-right: 5px;
  font-size: 1.1rem;
}

.link-wrapper a {
  text-decoration-style: dashed;
  font-family: sans-serif;
  color: black;
  margin-left: 30px;
  line-height: 1rem;
}

.number:nth-child(2) {
  transform: skew(-5deg, 0deg);
  background: var(--paper-color);
}

.number:nth-child(2)::after,
.number:nth-child(4)::after {
  content: "";
  pointer-events: none;
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    to bottom,
    var(--gray-light),
    5%,
    rgba(211, 211, 211, 0)
  );
}

.number:nth-child(1),
.number:nth-child(3) {
  background: linear-gradient(
    to right,
    var(--paper-color),
    60%,
    var(--gray-light)
  );
}

.number:nth-child(4) {
  transform: skew(-8deg, 0deg);
  background: var(--paper-color);
}

.number:nth-child(5) {
  transform: skew(-3deg, 0deg);
}

.puns {
  display: flex;
  gap: 2%;
  left: 90%;
  position: absolute;
}

.punsTitle {
  position: absolute;
  margin-top: 10px;
  left: 3rem;
}

@media screen and (min-width: 800px) {
  .puns {
    width: 30%;
    left: 30%;
  }
}

@media screen and (max-width: 800px) {
  .punsTitle {
    left: 5rem;
  }

  .containerContact {
    padding-left: 2rem;
  }

  .numbers {
    margin-left: 5% !important;
  }
  .puns {
    display: block;
    position: static;
  }
}


