.menu {
  display: flex;
  justify-content: center;
  align-items: center;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
//   max-width: 1200px;
  margin: 0 auto;
  padding: 1.5rem;
  box-sizing: border-box;
}

.logo a {
  font-size: 1.5rem;
  color: #333;
  text-decoration: none;
}

.menu-icon {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 1rem;
  height: 1.5rem;
  cursor: pointer;
  margin-top: 0.5rem;
  z-index: 1;
  transition: transform 0.3s ease-in-out;
}

.menu-icon span {
  display: block;
  height: 2px;
  background-color: #333;
  border-radius: 3px;
  transform-origin: 1px;
  transition: transform 0.3s ease-in-out;
}

.menu-icon.show span:nth-child(1) {
  transform: rotate(45deg) translate(0px, 5px);
}

.menu-icon.show span:nth-child(2) {
  transform: rotate(-45deg) translate(0px, -5px);
}

.menu-icon.show span:nth-child(3) {
  transform: rotate(135deg) translate(-5px, 10px);
}

.menu-icon.show span:nth-child(4) {
    transform: rotate(-135deg) translate(15px, 10px);
  }

.menu-items {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(139, 111, 216, 0.8);
  position: absolute;
  top: 80px;
  left: 0;
  width: 100%;
  z-index: 0;
  padding: 1rem;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
}

.menu-items.show {
  display: flex;
}

.menu-icon .hide {
    display: none;
}

.menu-items li {
  margin: 1rem;
  display: flex;
  width: 100%;
  justify-content: center;
  box-shadow: 0.5rem 0.5rem 2rem 1rem rgba(0, 0, 0, 0.2);
  padding: 0.8rem;
}

.small-screen {
  display: none;
}

.large-screen {
  display: flex;
  flex-direction: row;
}

@media screen and (max-width: 800px) {
  .large-screen {
    display: none;
  }

  .small-screen {
      display: flex;
  }
}
