body {
  box-sizing: content-box;
  color: rgb(139, 111, 216);
  background-color: black;
  --line-color: rgb(139, 111, 216);
}

#skills {
  background: #642b73;
  background: linear-gradient(to bottom, #250327, #2f0631);
  font-family: "Open Sans", sans;
  justify-content: center;
  overflow: hidden;
  perspective: 1800px;
  text-align: center;
  padding: 2%;
}

.menu {
  position: fixed;
  background: rgb(139, 111, 216, 0.8);
  height: 5vw;
  width: 100%;
  top: 0;
  opacity: 0.8;
  left: 0;
  z-index: 3;
  box-shadow: 1px 0 2px rgba(0, 0, 0, 0.2);
  transition: 1s;
}
.menu:hover {
  height: 7vw;
  opacity: 0.9;
  background: rgb(139, 111, 216);
}
.menu:hover nav {
  top: 20%;
}

.container {
  width: 100%;
  padding: 2% 5%;
  background-color: #1a001c;
  transition: 1s;
  transform-origin: left center;
  color: #d2d2d0;
}
.container .content {
  padding-top: 10%;
}

nav {
  position: absolute;
  transition: 0.5s;
}
nav ul {
  color: black;
  text-transform: uppercase;
  list-style-type: none;
  display: flex;
  flex-direction: row;
}
nav li {
  line-height: 1rem;
  letter-spacing: 0.3em;
  margin: 1rem;
}
nav a {
  font-size: 27px;
  text-decoration: none;
  color: black;
  font-weight: 500;
}
nav a:hover {
  color: #eee;
}

p {
  line-height: 1.5em;
}

h1 {
  color: #bbb;
}

#experience {
  padding-top: 10px;
}
